# MongoDB credentials and connection details
MONGODB_USER=your_mongodb_username
MONGODB_PASSWORD=your_mongodb_password
MONGODB_URL=your_cluster_url.mongodb.net
MONGODB_DB=your_database_name

# Server port
PORT=3000

# SMTP (Brevo) credentials for sending emails
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# JWT secret for signing tokens
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o

# Frontend domain for password reset link
APP_DOMAIN=http://localhost:3000/auth


# Cloudinary credentials for file uploads
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret